<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>JavaWebCart</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/firstServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.edu.lingnan.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>AuthorityFilter</filter-name>
    <filter-class>cn.edu.lingnan.filter.AuthorityFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthorityFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>AuthorityForBuyerFilter</filter-name>
    <filter-class>cn.edu.lingnan.filter.AuthorityForBuyerFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthorityForBuyerFilter</filter-name>
    <url-pattern>/buyer/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>cn.edu.lingnan.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>cn.edu.lingnan.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminFindAllBuyinfoServlet</servlet-name>
    <servlet-class>cn.edu.lingnan.servlet.AdminFindAllBuyinfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminFindAllBuyinfoServlet</servlet-name>
    <url-pattern>/admin/adminFindAllBuyinfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDeleteUserServlet</servlet-name>
    <servlet-class>cn.edu.lingnan.servlet.AdminDeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteUserServlet</servlet-name>
    <url-pattern>/admin/adminDeleteUserServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>cn.edu.lingnan.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <description>描述：对字符集进行编码（把CharacterEncodingFilter中setCharacterEncoding()的参数写入此配置文件，便于以后对其进行修改）</description>
      <param-name>encoding</param-name>
      <param-value>GB2312</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <jsp-config>
    <taglib>
      <taglib-uri>/mytagstest</taglib-uri>
      <taglib-location>/WEB-INF/tlds/myTags.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/jstlc</taglib-uri>
      <taglib-location>/WEB-INF/tlds/c.tld</taglib-location>
    </taglib>
  </jsp-config>
  <servlet>
    <servlet-name>AdminBatchDeleteUserServlet</servlet-name>
    <servlet-class>cn.edu.lingnan.servlet.AdminBatchDeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminBatchDeleteUserServlet</servlet-name>
    <url-pattern>/admin/adminBatchDeleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminUpdateGoodsServlet</servlet-name>
    <servlet-class>cn.edu.lingnan.servlet.AdminUpdateGoodsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUpdateGoodsServlet</servlet-name>
    <url-pattern>/admin/adminUpdateGoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminUpdateGoodsStepTwoServlet</servlet-name>
    <servlet-class>cn.edu.lingnan.servlet.AdminUpdateGoodsStepTwoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUpdateGoodsStepTwoServlet</servlet-name>
    <url-pattern>/admin/adminUpdateGoodsStepTwoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDeleteGoodsServlet</servlet-name>
    <servlet-class>cn.edu.lingnan.servlet.AdminDeleteGoodsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteGoodsServlet</servlet-name>
    <url-pattern>/admin/adminDeleteGoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminBatchDeleteGoodsServlet</servlet-name>
    <servlet-class>cn.edu.lingnan.servlet.AdminBatchDeleteGoodsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminBatchDeleteGoodsServlet</servlet-name>
    <url-pattern>/admin/adminBatchDeleteGoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BuyerAddBuyinfoServlet</servlet-name>
    <servlet-class>cn.edu.lingnan.servlet.BuyerAddBuyinfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyerAddBuyinfoServlet</servlet-name>
    <url-pattern>/buyer/buyerAddBuyinfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BuyerDeleteBuyinfoServlet</servlet-name>
    <servlet-class>cn.edu.lingnan.servlet.BuyerDeleteBuyinfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyerDeleteBuyinfoServlet</servlet-name>
    <url-pattern>/buyer/buyerDeleteBuyinfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BuyerBatchDeleteBuyinfoServlet</servlet-name>
    <servlet-class>cn.edu.lingnan.servlet.BuyerBatchDeleteBuyinfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyerBatchDeleteBuyinfoServlet</servlet-name>
    <url-pattern>/buyer/buyerBatchDeleteBuyinfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BuyerUpdateBuyinfoServlet</servlet-name>
    <servlet-class>cn.edu.lingnan.servlet.BuyerUpdateBuyinfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyerUpdateBuyinfoServlet</servlet-name>
    <url-pattern>/buyer/buyerUpdateBuyinfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BuyerUpdateBuyinfoStepTwoServlet</servlet-name>
    <servlet-class>cn.edu.lingnan.servlet.BuyerUpdateBuyinfoStepTwoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyerUpdateBuyinfoStepTwoServlet</servlet-name>
    <url-pattern>/buyer/buyerUpdateBuyinfoStepTwoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BuyerFindCartServlet</servlet-name>
    <servlet-class>cn.edu.lingnan.servlet.BuyerFindCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyerFindCartServlet</servlet-name>
    <url-pattern>/buyer/buyerFindCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NameCheckServlet</servlet-name>
    <servlet-class>cn.edu.lingnan.servlet.NameCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NameCheckServlet</servlet-name>
    <url-pattern>/nameCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GoodsinfoServlet</servlet-name>
    <servlet-class>cn.edu.lingnan.servlet.GoodsinfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoodsinfoServlet</servlet-name>
    <url-pattern>/goodsinfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GoodsinfoForSellerServlet</servlet-name>
    <servlet-class>cn.edu.lingnan.servlet.GoodsinfoForSellerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoodsinfoForSellerServlet</servlet-name>
    <url-pattern>/admin/goodsinfoForSellerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GoodsinfoForBuyerServlet</servlet-name>
    <servlet-class>cn.edu.lingnan.servlet.GoodsinfoForBuyerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoodsinfoForBuyerServlet</servlet-name>
    <url-pattern>/buyer/goodsinfoForBuyerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddGoodsServlet</servlet-name>
    <servlet-class>cn.edu.lingnan.servlet.AdminAddGoodsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddGoodsServlet</servlet-name>
    <url-pattern>/admin/adminAddGoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateSelfMessageServlet</servlet-name>
    <servlet-class>cn.edu.lingnan.servlet.UpdateSelfMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSelfMessageServlet</servlet-name>
    <url-pattern>/updateSelfMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateSelfMessageStepTwoServlet</servlet-name>
    <servlet-class>cn.edu.lingnan.servlet.UpdateSelfMessageStepTwoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSelfMessageStepTwoServlet</servlet-name>
    <url-pattern>/updateSelfMessageStepTwoServlet</url-pattern>
  </servlet-mapping>
</web-app>